
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:700');

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: white;
 height: 100%;
 width: 100%;
 
}
.ui.grid, #login{
    margin: 0px;
}
#typey-text{
    text-align: left;
}

.clip{
    position: absolute;
    height:100%;
    width:100%;
}


.clip-1 {
    background-color: rgba(224, 57, 151,.9);
    -webkit-clip-path: polygon(0 72%, 0% 100%, 23% 100%);
    clip-path: polygon(0 72%, 0% 100%, 23% 100%);
    
}

.clip-2 {
    background-color:rgba(33, 133, 208,.6);
-webkit-clip-path: polygon(0 78%, 0% 100%, 69% 100%);
clip-path: polygon(0 78%, 0% 100%, 69% 100%);
}


.clip-3 {
    background-color: rgba(0, 181, 173,.6);
    -webkit-clip-path: polygon(0 91%, 0% 100%, 100% 100%);
    clip-path: polygon(0 91%, 0% 100%, 100% 100%);
}

.clip-5 {
    background-color:  rgba(77, 200, 106,.7);
    -webkit-clip-path: polygon(100% 0, 0 12%, 0 0);
    clip-path: polygon(100% 0, 0 12%, 0 0);
}

.clip-4 {
    background-color: rgba(0, 181, 173, 1);
    -webkit-clip-path: polygon(100% 48%, 55% 0, 100% 0);
    clip-path: polygon(100% 48%, 55% 0, 100% 0);
}
@media only screen and (min-width: 992px) {
    .clip-1 {
        -webkit-clip-path: polygon(16% 100%, 0 52%, 0 100%);
clip-path: polygon(16% 100%, 0 52%, 0 100%);
    } 
    .clip-2 {
        -webkit-clip-path: polygon(26% 100%, 0 71%, 0 100%);
        clip-path: polygon(26% 100%, 0 71%, 0 100%);
    } 
    .clip-3 {
    -webkit-clip-path: polygon(40% 100%, 0 84%, 0 100%);
clip-path: polygon(40% 100%, 0 84%, 0 100%);
    } 
    .clip-4 {
        -webkit-clip-path: polygon(63% 0, 100% 0, 100% 100%, 82% 100%);
        clip-path: polygon(63% 0, 100% 0, 100% 100%, 82% 100%);
    } 
    .clip-5 {
    -webkit-clip-path: polygon(0 0, 0 22%, 100% 0);
clip-path: polygon(0 0, 0 22%, 100% 0);
    }  
} 
    
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
    h1.ui.header{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 4.3rem;
    }
  hr.style1{
    height:4px;
    width: 5rem;
    margin: -1rem auto -1.3rem auto;
    border-width: 0px;
    background: #00b5ad; /* For browsers that do not support gradients */ 
    background: -webkit-linear-gradient(left, #82d896 , #00b5ad); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #82d896, #00b5ad); /* For Opera 11.1 to 12.0 */ 
    background: -moz-linear-gradient(right, #82d896, #00b5ad); /* For Firefox 3.6 to 15 */ 
    background: linear-gradient(to right, #82d896 , #00b5ad); /* Standard syntax */ 
}

a.teal{
    color:#00b5ad
}
span.teal{
    color:#00b5ad
}
