<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Routify</title>
    <link rel="stylesheet" type="text/css" href="/static2/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/semantic-ui-alert.css">
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">


</head>

<body>


    <div id="press-any-key" class="ui middle aligned grid">
        <div class="column">
            <h3 id="typey-text" class="ui image header">

            </h3>

        </div>
    </div>
    <div>

    </div>
    <div class="clip clip-1 login"></div>
    <div class="clip clip-2 login"></div>
    <div class="clip clip-3 login"></div>
    <div class="clip clip-4 login"></div>
    <div class="clip clip-5 login"></div>
    <div class="ui middle aligned center aligned grid login">
        <div class="column">
            <h1 class="ui image header">
                Login
            </h1>
            <hr class="style1">
            <br>
            <h4>Welcome back to <span class="teal">Routify</span>!<br />
                Need an account? Please sign up <a class="ui teal" href="/auth/google"><u>here</u></a>.
            </h4>
            <button onclick="window.location.href='/auth/google'" class="ui google button">
                <i class="google icon"></i>
                Sign in with Google
            </button>

        </div>

    </div>
</body>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
<script src="/static2/dist/semantic.min.js"></script>
<script src="/static/js/semantic-ui-alert.js"></script>

<script>
    $(document)
        .ready(function () {

            $('.login').hide();


            var i = 0;
            var txt = 'Press any key to start. . .';
            var speed = 50;
            typeWriter();
            function typeWriter() {
                if (i < txt.length) {
                    document.getElementById("typey-text").innerHTML += txt.charAt(i);
                    i++;
                    setTimeout(typeWriter, speed);
                }
                else if (i === txt.length) {
                    document.getElementById("typey-text").innerHTML = txt + "|";
                    i += 1;
                    setTimeout(typeWriter, 500);
                }
                else {
                    document.getElementById("typey-text").innerHTML = txt + " ";
                    i -= 1;
                    setTimeout(typeWriter, 500);
                }
            }
            document.onkeypress = showLogin;
            document.onclick = showLogin;
            function showLogin(e) {
                $('#press-any-key').fadeOut(1, function () {
                    setTimeout(function () {
                        $('.clip-1').fadeIn(700);
                        $('.clip-2').fadeIn(700);

                        $('.clip-3').fadeIn(700);
                        $('.clip-4').fadeIn(700);
                        $('.clip-5').fadeIn(700);
                        $('.login').fadeIn(700);
                    }, 500);

                });

            }

        })
        ;
</script>
<script src="/static/js/api.js"></script>

</html>