<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GameTask</title>
    <link rel="stylesheet" type="text/css" href="C:/Users/ADMIN/Documents/web.lab/gametask/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="C:/Users/ADMIN/Documents/web.lab/gametask/public/css/range.css">
    <link rel="stylesheet" type="text/css" href="C:/Users/ADMIN/Documents/web.lab/gametask/public/css/index.css">


</head>

<body>

    <body class="pushable">

        <!-- Sidebar Menu -->
        <div class="ui vertical inverted sidebar menu left">
            <div class="item">
                Ashika Verma
            </div>

            <a class="active item">You</a>
            <a class="item">Leaderboard</a>
            <a href="" class="item">Log Out</a>
        </div>


        <!-- Page Contents -->
        <div class="pusher">
            <div class="ui inverted vertical masthead center aligned segment">

                <div class="ui large secondary inverted pointing menu">
                    <a class="toc item">
                        <i class="big sidebar icon"></i>
                    </a>
                    <div class="header item">Our Company</div>
                    <a class="active item">You</a>
                    <a class="item">Leaderboard</a>
                    <div class="right menu">
                        <div class="item">
                            <a><i class="large icon"><img src="C:/Users/ADMIN/Documents/web.lab/gametask/public/css/img/diamonds.svg"></i>50</a>
                        </div>
                        <div class="item">
                            <a><i class="large icon"><img src="C:/Users/ADMIN/Documents/web.lab/gametask/public/css/img/two-coins.svg"></i>127</a>
                        </div>
                        <div class="item">
                            <a><i class="large icon"><img src="C:/Users/ADMIN/Documents/web.lab/gametask/public/css/img/hearts.svg"></i>100</a>
                        </div>

                        <div class="ui item floating dropdown icon  mobile-none">
                            <i class="large user circle outline icon"></i>
                            <div class="ui vertical menu">
                                <div class="item">
                                    <h3>Ashika Verma</h3>
                                </div>
                                <div class="item">
                                    Level 1:
                                    <div class="teal ui horizontal label right">Warrior</div>
                                </div>
                                <div class="item">
                                    <div>
                                        <i class="icon"><img src="C:/Users/ADMIN/Documents/web.lab/gametask/public/css/img/diamonds.svg"></i>
                                        140/160
                                    </div>
                                    <div class="ui active small progress teal">
                                        <div class="bar"></div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div>
                                        <i class="icon"><img src="C:/Users/ADMIN/Documents/web.lab/gametask/public/css/img/hearts.svg"></i>
                                        100/100
                                    </div>
                                    <div class="ui active small progress red">
                                        <div class="bar"></div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div>
                                        <i class="icon"><img src="C:/Users/ADMIN/Documents/web.lab/gametask/public/css/img/two-coins.svg"></i>
                                        140/160
                                    </div>
                                    <div class="ui active small progress yellow">
                                        <div class="bar"></div>
                                    </div>
                                </div>
                                <div class="ui item">
                                    <h4>Log Out</h4>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="main ui stackable internally celled grid">
                <div class="eight wide tablet four wide computer column">
                    <h3>To Do</h3>
                    <div class="ui segments">
                        <div class="ui green primary inverted segment fluid icon input">
                            <input type="text" placeholder="Call MIT medical...">
                        </div>
                        <div class="ui green secondary inverted segment">
                            <div class="ui segments">
                                <div class="ui compact segment">
                                    <div class="ui checkbox">
                                        <input type="checkbox" name="example">
                                        <label>Make my profile visible</label>
                                    </div>
                                </div>
                                <div class="ui compact segment">
                                    <div class="ui checkbox">
                                        <input type="checkbox" name="example">
                                        <label>Make my profile visible</label>
                                    </div>
                                </div>
                                <div class="ui compact segment">
                                    <div class="ui checkbox">
                                        <input type="checkbox" name="example">
                                        <label>Make my profile visible</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="eight wide tablet four wide computer column">
                    <h3>Long Term Goals</h3>
                    <div class="ui segments">
                        <div class="ui primary brown inverted segment fluid icon input">
                            <input type="text" placeholder="Read a book in a month...">
                        </div>
                        <div class="ui secondary inverted brown segment">
                            <div class="ui segments">
                                <div class="ui compact segment">
                                    <div class="ui compact clearing segment">work on book
                                        <div class="ui green horizontal label right">58%</div>
                                    </div>
                                    <div class="ui slidecontainer">
                                        <input type="range" min="1" max="100" value="58" class="slider" id="myRange">
                                    </div>


                                </div>
                                <div class="ui compact segment">
                                    <div class="ui compact clearing segment">do 3 month paper
                                        <div class="ui grey horizontal label right">0%</div>
                                    </div>
                                    <div class="ui slidecontainer">
                                        <input type="range" min="1" max="100" value="0" class="slider" id="myRange">
                                    </div>

                                </div>
                                <div class="ui compact segment">
                                    <div class="ui compact clearing segment">make video game
                                        <div class="ui green horizontal label right">20%</div>
                                    </div>
                                    <div class="ui slidecontainer">
                                        <input type="range" min="1" max="100" value="20" class="slider" id="myRange">
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="eight wide tablet four wide computer column">
                    <h3>Habits</h3>
                    <div class="ui segments">
                        <div class="ui primary teal inverted segment fluid icon input">
                            <input type="text" placeholder="Drink 8 glasses of water...">
                        </div>
                        <div class="ui secondary inverted teal segment">
                            <div class="ui segments">
                                <div class="ui compact segment">
                                    <div class="ui compact clearing segment">looked at phone
                                        <div class="ui red horizontal label right">-1</div>
                                    </div>
                                    <div class="ui fluid buttons">
                                        <button class="ui button"><i class="chevron down icon"></i></button>
                                        <div class="or"></div>
                                        <button class="ui button"><i class="chevron up icon"></i></button>
                                    </div>

                                </div>
                                <div class="ui compact segment">
                                    <div class="ui compact clearing segment">drink more water
                                        <div class="ui grey horizontal label right">0</div>
                                    </div>
                                    <div class="ui fluid buttons">
                                        <button class="ui button"><i class="chevron down icon"></i></button>
                                        <div class="or"></div>
                                        <button class="ui button"><i class="chevron up icon"></i></button>
                                    </div>

                                </div>
                                <div class="ui compact segment">
                                    <div class="ui compact clearing segment">get up from desk and walk
                                        <div class="ui green horizontal label right">2</div>
                                    </div>
                                    <div class="ui fluid buttons">
                                        <button class="ui button"><i class="chevron down icon"></i></button>
                                        <div class="or"></div>
                                        <button class="ui button"><i class="chevron up icon"></i></button>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="eight wide tablet four wide computer column">
                    <h3>Rewards</h3>
                    <div class="ui segments">
                        <div class="ui primary inverted purple segment fluid icon input">
                            <input type="text" placeholder="Eat one bowl of ice cream...">
                        </div>
                        <div class="ui secondary inverted purple segment">
                            <div class="ui segments">
                                <div class="ui compact segment">
                                    <div class="ui checkbox">
                                        <input type="checkbox" name="example">
                                        <label>Make my profile visible</label>
                                    </div>
                                </div>
                                <div class="ui compact segment">
                                    <div class="ui checkbox">
                                        <input type="checkbox" name="example">
                                        <label>Make my profile visible</label>
                                    </div>
                                </div>
                                <div class="ui compact segment">
                                    <div class="ui checkbox">
                                        <input type="checkbox" name="example">
                                        <label>Make my profile visible</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>




    </body>
</body>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
<script src="C:/Users/ADMIN/Documents/web.lab/gametask/semantic/dist/semantic.min.js"></script>
<script>
    $(document)
        .ready(function () {
            // fix menu when passed
            $('.masthead')
                .visibility({
                    once: false,
                    onBottomPassed: function () {
                        $('.fixed.menu').transition('fade in');
                    },
                    onBottomPassedReverse: function () {
                        $('.fixed.menu').transition('fade out');
                    }
                })
                ;
            //initialize dropdowns
            $('.ui.dropdown')
                .dropdown();

            // create sidebar and attach to menu open
            $('.ui.sidebar')
                .sidebar('attach events', '.toc.item')
                ;

        })
        ;
</script>

</html>