<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Routify</title>
    <link rel="stylesheet" type="text/css" href="/static2/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/semantic-ui-alert.css">
    <!-- for calender of semantic ui feel -->
    <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css"
        rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="/static/css/range.css">
    <link rel="stylesheet" type="text/css" href="/static/css/leaderboard.css">
    <link rel="shortcut icon" href="/static/css/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/css/img/favicon.ico" type="image/x-icon">


</head>

<body>

    <body class="pushable">

        <!-- Sidebar Menu -->
        <div class="ui vertical purple inverted sidebar menu left">
            <div id="logo" class="header item" style=" background-repeat: no-repeat;background-position: center;width:150px;background-color: white;width: 100%; padding:43px; margin: 0; background-image: url('/static/css/img/routifyIcon.svg');"></div>

            <a class="item" href="/">You</a>
            <a href="/leaderboard" class="active item">Leaderboard</a>
            <a href="/groups" class=" item">Parties</a>
            <a href="/logout" class="item">Log Out</a>
        </div>


        <!-- Page Contents -->
        <div class="ui inverted secondary grey pusher">
            <div class="ui vertical masthead center aligned segment">

                <div class="ui teal large secondary pointing menu">
                    <a class="toc item">
                        <i class="big sidebar icon"></i>
                    </a>
                    <div id="logo" class="header item" style="width:150px; background-image: url('/static/css/img/routifyIcon.svg');"></div>
                    <a class="item" href="/">You</a>
                    <a class="active item" href="/leaderboard">Leaderboard</a>
                    <a class="item" href="/groups">Parties</a>
                    <a class="item" href="/auth/google">Login</a>
                    <div class="right menu " style="display: flex;">
                        <div class="ui item">
                            <a><i class="large icon"><img src="/static/css/img/diamonds.svg" data-title="Experience (xp)"
                                        data-content="You gain experience everytime you complete a task, get further on a project, or develop good habits! Watch your xp level up the more you work hard and compare with your friends!"
                                        class="popup"></i><span id="xp"></span></a>
                        </div>
                        <div class="ui item">
                            <a><i class="large icon"><img src="/static/css/img/two-coins.svg" data-title="Gold"
                                        data-content="You earn gold everytime you complete a task, get further on a project, or develop good habits! Use gold to buy rewards that you rightly deserve!"
                                        class="popup"></i><span id="gold"></span></a>
                        </div>
                        <div class="ui item floating dropdown icon  mobile-none">
                            <i class="large user circle outline icon"></i>
                            <div id="user_dropdown" class="ui vertical menu">
                                <div class="no-hover item">
                                    <h3>Ashika Verma</h3>
                                </div>
                                <div class="no-hover item">

                                    <div class="teal ui ribbon label "> Level 1: Warrior </div>
                                </div>
                                <div class="no-hover item">
                                    <div>
                                        <i class="icon"><img src="/static/css/img/diamonds.svg"></i>
                                        140/160
                                    </div>
                                    <div class="ui active small progress teal">
                                        <div class="bar"></div>
                                    </div>
                                </div>

                                <div class="no-hover item">
                                    <div>
                                        <i class="icon"><img src="/static/css/img/two-coins.svg"></i>
                                        140/160
                                    </div>
                                    <div class="ui active small progress teal">
                                        <div class="bar"></div>
                                    </div>
                                </div>
                                <div class="ui item">
                                    <h4>Join Party</h4>
                                </div>
                                <div class="ui item">
                                    <h4><a href="/logOut">Log Out</a></h4>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>



            <div class="main ui stackable internally celled grid">
                <div class="row">
                    <div class="sixteen wide computer column">

                        <div class="ui secondary pointing menu">
                            <h3 class="item">Leaderboard</h3>
                            <div class="right menu">
                                <a id="overall" onclick="leaderMenu('overall')" class="ui active teal item">
                                    Overall
                                </a>
                                <a id="your" onclick="leaderMenu('your')" class="ui teal item">
                                    Your Leaderboards
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="renderLeaderboards" style="display:none;position:relative; top: -10px" class="row">
                    <!-- WHERE GROUP LEADERBOARDS GO -->
                </div>
                <div id="renderOverallLeaderboards" style="position:relative; top: -10px" class="row">
                    <!-- WHERE GROUP LEADERBOARDS GO -->
                </div>


            </div>

        </div>


    </body>
</body>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
<script src="/static2/dist/semantic.min.js"></script>
<script src="/static/js/semantic-ui-alert.js"></script>
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>

<script>
    $(document)
        .ready(function () {
            // fix menu when passed
            $('.masthead')
                .visibility({
                    once: false,
                    onBottomPassed: function () {
                        $('.fixed.menu').transition('fade in');
                    },
                    onBottomPassedReverse: function () {
                        $('.fixed.menu').transition('fade out');
                    }
                })
                ;
            //initialize dropdowns
            $('.ui.dropdown')
                .dropdown();

            // create sidebar and attach to menu open
            $('.ui.sidebar')
                .sidebar('attach events', '.toc.item')
                ;
            $('.popup').popup();

        })
        ;
</script>
<script src="/static/js/api.js"></script>
<script src="/static/js/user.js"></script>
<script src="/static/js/leaderboardJs.js"></script>
<script src="/static/js/leaderboard.js"></script>

</html>